
# ldap data should not be part of
ldap/data/data/*.mdb
**/*.ldif
ldap/data/data/.*
ldap_admin_password.txt

# docker related
docker-compose.override.yml

# dot env 
.env
.env.production
.env.test

# emacs
*~
\#*\#